body {
    background-color: #121212;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.cart-container {
    max-width: 1100px;
}

.table-dark th {
    color: #000;
    background-color: #ffc107 !important;
}

.cart-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.quantity-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-summary {
    border: 1px solid #333;
    text-align: center;
}

    .cart-summary h4 {
        font-size: 1.4rem;
        font-weight: bold;
        color: #ffc107;
    }

button {
    cursor: pointer;
    transition: transform 0.2s;
}

    button:hover {
        transform: scale(1.05);
    }
