body {
    background-color: #0e0e0e;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.table img {
    transition: transform 0.3s ease-in-out;
}

    .table img:hover {
        transform: scale(1.05);
    }

#checkoutMessage {
    font-size: 1.1rem;
}
    