.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
