<form id="productForm" enctype="multipart/form-data">

    <input type="hidden" id="ProductID" name="ProductID" />

    <label class="form-label">Product Name</label>
    <input type="text" id="ProductName" name="ProductName" class="form-input" required />

    <label class="form-label">Brand</label>
    <input type="text" id="Brand" name="Brand" class="form-input" required />

    <label class="form-label">Price (₹)</label>
    <input type="number" id="Price" name="Price" class="form-input" required />

    <label class="form-label">Status</label>
    <select id="IsAvailable" name="IsAvailable" class="form-input" required>
        <option value="true">In Stock</option>
        <option value="false">Out of Stock</option>
    </select>

    <label class="form-label">Product Image</label>
    <input type="file" id="ProductImage" name="ProductImage" class="form-input"
           accept="image/*" onchange="previewImage(this)" />

    <img id="imagePreview" class="preview-box" src="/images/noimage.png" />

    <div class="modal-footer">
        <button type="button" class="btn-cancel" onclick="closeProductModal()">Cancel</button>
        <button type="button" id="btnSaveProduct" class="btn-save">Save Product</button>
    </div>

</form>


<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $("#imagePreview").attr("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // SAVE PRODUCT
    $(document).on("click", "#btnSaveProduct", function () {
        let formData = new FormData($("#productForm")[0]);

        $.ajax({
           url: '/Admin/SaveProductWithImage',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                alert(res.message);
                if (res.success) {

                     reloadProductsGrid(); // Product grid is load instead of whole page 

                    //  close modal
                    closeProductModal();
                }
            }
        });
    });
</script>
